.light-mode {
  background-color: #F7F6F1;
  color: #0a0a0a !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #F7F6F1;
  overflow-x: hidden;
}
body h1 {
  font-size: 8em;
}
body h2 {
  font-size: 4em;
}
body p {
  font-size: 1.125em;
}
body a {
  text-decoration: none;
  transition: 0.4s;
  color: white;
}
body a:hover {
  color: #E91E63;
}
body li {
  list-style: none;
}
body button {
  padding: 1.2em;
  border-radius: 2em;
  border: 1px solid #F7F6F1;
  background-color: transparent;
  color: #F7F6F1;
  font-family: "Sora";
  font-weight: 800;
  transition: 0.4s;
}
body button:hover {
  background-color: #E91E63;
  border: 1px solid #E91E63;
  cursor: pointer;
}

.pink {
  color: #E91E63;
}

.btn-icon {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  gap: 8px;
}
.btn-icon img {
  display: none;
  opacity: 0;
}
.btn-icon:hover img {
  opacity: 1;
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  max-width: 1400px;
  padding: 2em;
  margin: 0 auto;
  border-bottom: 1px solid;
}
.header-navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.header-navbar .active {
  color: #E91E63;
}

.noise {
  width: 100vw;
  height: 100vh;
  background: url(../imgs/noise.jpg) center;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
  position: fixed;
  pointer-events: none;
}

.hero {
  max-width: 1400px;
  padding: 2em;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  height: 100vh;
}
.hero-circle {
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: -280px;
  right: -300px;
  z-index: -1;
  background: radial-gradient(closest-side, rgba(233, 30, 99, 0.21) 0%, #0a0a0a);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.hero-tag {
  border: 1px solid #E91E63;
  border-radius: 2em;
  padding: 0.6em;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}
.hero-content {
  text-align: center;
}
.hero-content p {
  font-size: 2em;
}
.hero-content span {
  font-size: 2em;
}
.hero-line {
  width: 100%;
  min-height: 1px;
  background-color: #F7F6F1;
}
.hero-about {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 5em;
  text-align: justify;
}
.hero-about p {
  opacity: 0.7;
}
.hero-about p a {
  text-decoration: underline;
}

.social {
  padding-top: 4em;
}
.social-links {
  display: flex;
  justify-content: space-between;
}
.social-link {
  padding: 1em;
  border: 1px solid #F7F6F1;
  border-radius: 10em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.social-link:hover {
  border: 1px solid #E91E63;
}

.projects {
  max-width: 1400px;
  padding: 2em;
  margin: 0 auto;
  margin-top: 8em;
  position: relative;
}
.projects-area {
  padding-top: 2em;
  display: flex;
  flex-direction: row-reverse;
  gap: 2em;
  align-items: center;
  padding-bottom: 4em;
  flex-wrap: wrap;
}
.projects-area:nth-child(2n) {
  flex-direction: row;
}
.projects-img {
  width: 70%;
}
.projects-img img {
  width: 100%;
  border-radius: 2em;
}
.projects-info {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.projects-link {
  font-size: 2em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: all 0.4s;
}
.projects-link:hover {
  text-decoration: underline;
}
.projects-link img {
  visibility: hidden;
  width: 32px;
  opacity: 0;
  transition: all 0.2s;
}
.projects-link:hover img {
  visibility: visible;
  opacity: 1;
}
.projects-stacks {
  margin-top: 2em;
  display: flex;
  gap: 2em;
}
.projects-stacks p {
  padding: 0.5em;
  border: 1px solid #F7F6F1;
  border-radius: 2em;
}
.projects-circle {
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: 200px;
  right: 600px;
  z-index: -1;
  background: radial-gradient(closest-side, rgba(233, 30, 99, 0.21) 0%, #0a0a0a);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.stacks {
  max-width: 1400px;
  padding: 2em;
  margin: 0 auto;
  position: relative;
  margin-top: 6em;
}
.stacks-flex {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 6em;
  padding: 2em;
}
.stacks-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  width: 28%;
  gap: 1em;
}
.stacks-img {
  width: 72px;
  transition: all 0.4s;
}
.stacks-img:hover {
  filter: grayscale(100%);
}

.soft {
  max-width: 1400px;
  padding: 2em;
  margin: 0 auto;
  position: relative;
  margin-top: 6em;
}
.soft-table {
  width: 100%;
}
.soft-table tr {
  height: 4em;
}
.soft-table tr td {
  border-bottom: 1px solid;
  font-size: 1.5em;
  padding: 1.2em;
  position: relative;
}
.soft-table tr td .gif {
  display: none;
  opacity: 0;
}
.soft-table tr td:hover .gif {
  display: block;
  opacity: 1;
  position: absolute;
  z-index: 1;
  top: -100px;
  left: 35%;
}
.soft-table .icon {
  padding-left: 1em;
}

.contato {
  max-width: 1400px;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}
.contato h2 {
  font-size: 6em;
}
.contato p {
  font-size: 1.5em;
}
.contato button {
  margin-top: 2em;
  font-size: 1.5em;
}

footer {
  max-width: 1400px;
  padding: 2em;
  margin: 0 auto;
  border-top: 1px solid;
}
footer .footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */