@use 'mixins';

$title: 8em;
$subtitle: 4em;
$paragraph: 1.125em;
$primary-color: #E91E63;
$light-color: #F7F6F1;
$dark-color: #0a0a0a;

.light-mode {
    background-color: $light-color;
    color: $dark-color !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-color;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: $light-color;
    overflow-x: hidden;

    h1 {
        font-size: $title;
    }

    h2 {
        font-size: $subtitle;
    }

    p {
        font-size: $paragraph;
    }

    a {
        text-decoration: none;
        transition: .4s;
        color: #ffff;

        &:hover {
            color: $primary-color;
            text-decoration: underline;
        }
    }

    li {
        list-style: none;
    }

    button {
        padding: 1.2em;
        border-radius: 2em;
        border: 1px solid $light-color;
        background-color: transparent;
        color: $light-color;
        font-family: 'Sora';
        font-weight: 800;
        transition: .4s;

        &:hover {
            background-color: $primary-color;
            border: 1px solid $primary-color;
            cursor: pointer;
        }
    }
}

.pink {
    color: $primary-color;
}

.btn-icon {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    gap: 8px;

    img {
        display: none;
        opacity: 0;
    }

    &:hover img {
        opacity: 1;
        display: block;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    @include mixins.container;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #0a0a0a56;
    backdrop-filter: blur(5px);

    &-navbar {
        
        ul {
            @include mixins.flex-center;
            gap: 2em;
        }
    }
} 

.active {
    color: $primary-color;
}

// EFEITO NOISE DE FUNDO
.noise {
    width: 100vw;
    height: 100vh;
    background: url(../imgs/noise.jpg) center;
    object-fit: cover;
    opacity: 0.1; 
    position: fixed;
    pointer-events: none;
}

.hero {
    @include mixins.container;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    height: 100vh;

    &-circle {
        position: absolute;
        width: 1000px;
        height: 1000px;
        top: -280px;
        right: -300px;
        z-index: -1;
        background: radial-gradient(closest-side, rgba(233,30,99,0.21) 0%, #0a0a0a);
        backdrop-filter: blur(10px);
    }

    &-tag {
        border: 1px solid $primary-color;
        border-radius: 2em;
        padding: .6em;
        width: 15%;
        @include mixins.flex-center;
        font-size: small;
    }

    &-content {
        text-align: center;

        p {
            font-size: 2em;
        }

        span {
            font-size: 2em;
        }
    }

    &-line {
        width: 100%;
        min-height: 1px;
        background-color: $light-color;
    }

    &-about {
        display: grid;
        grid-template-columns: 1fr 1fr .5fr;
        gap: 5em;
        text-align: justify;

        p {
            opacity: .7;

            & a {
                text-decoration: underline;
            }
        }
    }
 
}

.social {

    padding-top: 4em;

    &-links {
        display: flex;
        justify-content: space-between;
    }

    &-link {
        padding: 1em;
        border: 1px solid $light-color;
        border-radius: 10em;
        display: flex;
        align-items: center;
        gap: .5em;

        &:hover {
            border: 1px solid $primary-color;
        }
    }
}

.projects {
    @include mixins.container;
    margin-top: 8em;
    position: relative;

    &-area {
        padding-top: 2em;
        display: flex;
        flex-direction: row-reverse;
        gap: 2em;
        align-items: center;
        padding-bottom: 4em;
        flex-wrap: wrap;
    }

    &-area:nth-child(2n) {
        flex-direction: row;
    }

    &-img {
        width: 70%;

        img {
            width: 100%;
            border-radius: 2em;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    
    &-link {
        font-size: 2em;
        display: flex;
        align-items: center;
        gap: .5em;
        transition: all .4s;

        &:hover {
            text-decoration: underline;
        }

        img {
            visibility: hidden;
            width: 32px;
            opacity: 0;
            transition: all .2s;
        }

        &:hover img {
            visibility: visible;
            opacity: 1;
        }
    }

    &-stacks {
        margin-top: 2em;
        display: flex;
        gap: 2em;

        p {
            padding: .5em;
            border: 1px solid $light-color;
            border-radius: 2em;
        }
    }

    &-circle {
        position: absolute;
        width: 1000px;
        height: 1000px;
        top: 200px;
        right: 600px;
        z-index: -1;
        background: radial-gradient(closest-side, rgba(233,30,99,0.21) 0%, #0a0a0a);
        backdrop-filter: blur(10px);
    }
}

.stacks {
    @include mixins.container;
    position: relative;
    margin-top: 6em;

    &-flex {
        display: flex;
        margin-top: 2em;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 6em;   
        padding: 2em;     
    }

    &-item {
        @include mixins.flex-center;
        flex-direction: column-reverse;
        width: 28%;
        gap: 1em;
    }

    &-img {
        width: 72px;
        transition: all .4s;

        &:hover {
            filter: grayscale(100%);
        }
    }
}

.soft {
    @include mixins.container;
    position: relative;
    margin-top: 6em;

    &-table {
        width: 100%;
        
        tr {
            height: 4em;

            td {
                border-bottom: 1px solid;
                font-size: 1.5em;
                padding: 1.2em;
                position: relative;

                .gif {
                    display: none;
                    opacity: 0;
                }
            }

            td:hover .gif {
                display: block;
                opacity: 1;
                position: absolute;
                z-index: 1;
                top: -100px;
                left: 35%;
            }
        }

        .icon {
            padding-left: 1em;
        }
    }
}

.contato {
    @include mixins.container;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;

    h2 {
        font-size: 6em;
    }

    p {
        font-size: 1.5em;
    }

    button {
        margin-top: 2em;
        font-size: 1.5em;
    }
}

footer {
    @include mixins.container;
    border-top: 1px solid;

    .footer-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 667px) {
    h1 {
        font-size: 4em !important;
    }
    
    h2 {
        font-size: 2.5em !important;
    }

    .header-logo {
        display: none;
    }

    .hero {
        height: auto;

        &-content p {
            font-size: 1.2em;
        }

        &-about {
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
    }

    .social-links {
        flex-direction: column;
        gap: 2em;
    }

    .projects {
        margin-top: 2em;

        &-img {
            width: 100%;
        }

        &-area {
            flex-direction: row !important;
        }
    }

    .stacks, .soft {
        margin-top: 0;
    }

    .soft-table tr td {
        padding: 1em;
        font-size: 1.2em;
    }

    td:hover .gif {
        display: none !important;
    }

    .soft-table .icon {
        padding-left: 0;
    }
}